In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import acquire
import prepare


# import warnings
# warnings.filterwarnings("ignore")

### Data Acquisition

In [2]:
df = acquire.get_zillow()

In [3]:
df = acquire.clean_zillow(df)
df.head()

,bedroomcnt,bathroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,lotsizesquarefeet,regionidcounty,regionidzip,yearbuilt,county,taxvaluedollarcnt
0,4,3.0,3.0,2123,7310.0,1286.0,96978.0,1959,orange,569452.0
1,3,2.0,2.0,1230,4142.0,3101.0,96046.0,1926,los_angeles,29770.0
2,2,1.0,1.0,600,7043.0,1286.0,97003.0,1948,orange,234307.0
3,4,2.0,2.0,1463,7519.0,3101.0,96342.0,1957,los_angeles,109437.0
4,4,2.5,2.0,2184,8569.0,2061.0,96383.0,1978,ventura,713482.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51474 entries, 0 to 52440
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bedroomcnt                    51474 non-null  uint8
 1   bathroomcnt                   51474 non-null  float16
 2   calculatedbathnbr             51474 non-null  float16
 3   calculatedfinishedsquarefeet  51474 non-null  uint16
 4   lotsizesquarefeet             51474 non-null  float64
 5   regionidcounty                51474 non-null  float64
 6   regionidzip                   51474 non-null  float64
 7   yearbuilt                     51474 non-null  uint16
 8   county                        51474 non-null  object
 9   taxvaluedollarcnt             51474 non-null  float64
dtypes: float16(2), float64(4), object(1), uint16(2), uint8(1)
memory usage: 2.8+ MB

After cleaning, I am left with a dataset which is applicable to homes with the following characteristics:
- A lot size of less than 300,000 sq ft. (Roughly seven acres.)
- A calculated sq footage of less than 8500 sq ft.
- A tax value of less than $4 million.

### Data Preparation

In [5]:
train, validate, test = prepare.split_zillow(df)
train_scaled, validate_scaled, test_scaled = prepare.data_scaler(train, validate, test, columns_to_scale=(df.drop(columns = ['county', 'taxvaluedollarcnt']).columns))

In [6]:
train.head()

,bedroomcnt,bathroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,lotsizesquarefeet,regionidcounty,regionidzip,yearbuilt,county,taxvaluedollarcnt
23156,2,2.0,2.0,1538,8370.0,3101.0,96424.0,1938,los_angeles,102269.0
2568,4,2.0,2.0,1176,6096.0,3101.0,96464.0,1954,los_angeles,324566.0
21142,4,3.5,3.0,2288,2920.0,1286.0,97035.0,2004,orange,709000.0
697,3,2.0,2.0,1603,5859.0,3101.0,96111.0,1947,los_angeles,351733.0
24151,3,2.5,2.0,2463,7306.0,2061.0,97084.0,2004,ventura,610000.0

In [7]:
train_scaled.head()

,bedroomcnt,bathroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,lotsizesquarefeet,regionidcounty,regionidzip,yearbuilt,county,taxvaluedollarcnt
23156,0.125,0.1250,0.125,0.151623,0.027058,1.000000,0.001455,0.434783,los_angeles,102269.0
2568,0.375,0.1250,0.125,0.107287,0.019260,1.000000,0.001587,0.550725,los_angeles,324566.0
21142,0.375,0.3125,0.250,0.243478,0.008368,0.000000,0.003467,0.913043,orange,709000.0
697,0.250,0.1250,0.125,0.159584,0.018447,1.000000,0.000425,0.500000,los_angeles,351733.0
24151,0.250,0.1875,0.125,0.264911,0.023409,0.426997,0.003629,0.913043,ventura,610000.0

### Data Exploration (Exploratory Data Analysis)