In [1]:
import env
import pandas as pd
import os
import numpy as np

In [14]:
def get_zillow():
    '''
    This function acquires the requisite zillow data from the Codeup SQL database and caches it locally it for future use in a csv 
    document; once the data is accessed the function then returns it as a dataframe.
    '''

    filename = "zillow.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        query = '''
        SELECT 
            bedroomcnt, 
            bathroomcnt, 
            fullbathcnt
            calculatedbathnbr,
            calculatedfinishedsquarefeet,
            landtaxvaluedollarcnt,
            lotsizesquarefeet,
            regionidcity,
            regionidcounty,
            regionidzip,
            roomcnt,
            yearbuilt, 
            transactiondate, 
            fips
        FROM 
            properties_2017 
        JOIN
            propertylandusetype USING (propertylandusetypeid)
        JOIN
            predictions_2017 USING (parcelid)
        Where
            propertylandusedesc = 'Single Family Residential' AND 
            transactiondate LIKE '2017-%%'      
        '''
        url = env.get_db_url('zillow')
        df = pd.read_sql(query, url)
        df.to_csv(filename, index = False)

        return df

In [15]:
df = get_zillow()
df.head()

,bedroomcnt,bathroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,landtaxvaluedollarcnt,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,roomcnt,yearbuilt,transactiondate,fips
0,3.0,2.0,2.0,1230.0,13021.0,4142.0,12447.0,3101.0,96046.0,0.0,1926.0,2017-01-10,6037.0
1,2.0,1.0,1.0,600.0,180440.0,7043.0,47568.0,1286.0,97003.0,5.0,1948.0,2017-01-10,6059.0
2,4.0,2.0,2.0,1463.0,38192.0,7519.0,12447.0,3101.0,96342.0,0.0,1957.0,2017-01-10,6037.0
3,4.0,2.5,2.0,2184.0,463919.0,8569.0,34278.0,2061.0,96383.0,8.0,1978.0,2017-01-10,6111.0
4,3.0,3.0,3.0,1744.0,221912.0,9178.0,NaN,3101.0,96403.0,0.0,2000.0,2017-01-10,6037.0